
<!DOCTYPE html>
<html>

<body>
<h3>Editar Produto</h3>
<hr>

   <!-- Modal -->
<div class="modal fade" id="chamadaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Produto Alterado com Exito...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://i.ibb.co/xXytB7c/5595-success-animation.gif" alt="Girl in a jacket" width="210" style="margin-left: 120px;" height="140">
      </div>
      <div class="modal-footer">
        <a href="/lista-produto" title="Cadastrar Vendedor" class="btn deleddte btn-success">OK</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form action="/api/products/{{produto._id}}" >
  <input  type="hidden" name="_id" value="{{produto._id}}">
  
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="nome" class="form-control" value="{{produto.nome}}" id="nome" placeholder="Digite o nome do produto." name="nome">
    </div>
    <div class="form-group">
      <label for="pwd">Preço</label>
      <input type="number" class="form-control" value="{{produto.preco}}" id="preco" placeholder="Digite o preço..." name="preco">
    </div>
    <div class="form-group">
      <label for="email">Descrição</label>
      <input type="descricao" class="form-control" value="{{produto.descricao}}" id="descricao" placeholder="Digite a descrição..." name="descricao">
    </div>
    <button type="submit" class="btn btn-success">Gravar</button>
    <a href="/lista-produto" title="Voltar" class="btn btn-primary">Voltar</a>
  </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script>
$('form').submit(function(e) {
    e.preventDefault();
    var actionSubmitForm = $(this).attr('action');
    var dadosDoFormulario = $(this).serialize();
    $.ajax({
        url: actionSubmitForm,
        data: dadosDoFormulario,
        type: 'PUT',
        success: function(data) {
            $("#chamadaModal").modal('show');
        }
    })
    });
</script>
</html>
