
<!DOCTYPE html>
<html>

<body>
<h3>Editar Vendedor</h3>
<hr>

   <!-- Modal -->
<div class="modal fade" id="chamadaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vendedor Alterado com Exito...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://i.ibb.co/xXytB7c/5595-success-animation.gif" alt="Girl in a jacket" width="210" style="margin-left: 120px;" height="140">
      </div>
      <div class="modal-footer">
        <a href="/lista-vendedor" title="Cadastrar Vendedor" class="btn deleddte btn-success">OK</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form action="/api/vendedor/{{vendedor._id}}" >
  <input  type="hidden" name="_id" value="{{vendedor._id}}">
  
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="nome" class="form-control" value="{{vendedor.nome}}" id="nome" placeholder="Digite o nome do Vendedor." name="nome">
    </div>
    <div class="form-group">
      <label for="pwd">RG</label>
      <input type="number" class="form-control" value="{{vendedor.rg}}" id="rg" placeholder="101520304" name="rg">
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" value="{{vendedor.email}}" id="email" placeholder="victor@exemplo.com" name="email">
    </div>
    <div class="form-group">
      <label for="totalVendas">Total de Vendas</label>
      <input type="totalVendas" class="form-control" value="{{vendedor.totalVendas}}" id="totalVendas" placeholder="5" name="totalVendas">
    </div>
    <button type="submit" class="btn btn-success">Gravar</button>
    <a href="/lista-vendedor" title="Cadastrar Vendedor" class="btn btn-primary">Voltar</a>
  </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script>
$('form').submit(function(e) {
    e.preventDefault();
    var actionSubmitForm = $(this).attr('action');
    var dadosDoFormulario = $(this).serialize();
    $.ajax({
        url: actionSubmitForm,
        data: dadosDoFormulario,
        type: 'PUT',
        success: function(data) {
            $("#chamadaModal").modal('show');
        }
    })
    });
</script>
</html>
