<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>Vendedores Cadastrados</h4>
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm text-right">
<button hrftype="button" rel="tooltip" class="btn btn-success btn-round btn-just-icon btn-sm" data-original-title="" title="">
        <i class="material-icons">INCLUIR</i>
</button>
    </div>
  </div>
</div>
<hr>

<table class="table table-striped">
    <thead>
      <tr>
    <th>Nome</th>
    <th>RG</th>
    <th>Email</th>
    <th>Total de Vendas</th>
    <th></th>
      </tr>
    </thead>
    {{#each vendedores}}
    <tbody>
      <tr>
    <td>{{nome}}</td>
    <td>{{rg}}</td>
    <td>{{email}}</td>
    <td>{{totalVendas}}</td>
    <td class="td-actions text-center">
    <button type="button" rel="tooltip" class="btn btn-success btn-round btn-just-icon btn-sm" data-original-title="" title="">
        <i class="material-icons">Alterar</i>
    </button>
    <button type="button" rel="tooltip" class="btn btn-danger btn-round btn-just-icon btn-sm" data-original-title="" title="">
        <i class="material-icons">Excluir</i>
    </button>
    </td>
      </tr>
    </tbody>
    {{else}}
{{/each}}
  </table>
</div>
